body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  background-image: url('/images/green_background.jpg');
}

.recommendedContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
  border-radius: 30px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
}

.recommendedContainer>div {
  background-color: azure;
  width: 600px;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #a8a8a8;
  display: flex;
  align-items: center;
  padding: 10px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.flexContainer>div {
  background-color: azure;
  width: 30%;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #a8a8a8;
  display: flex;
  align-items: center;
  padding: 15px;
}

.recommendedRoom,
.room2 {
  border-radius: 30px;
  width: 50%;
  height: auto;
  object-fit: cover;
}

.roomText {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  color: black;
  width: 50%;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}

.topnav {
  overflow: hidden;
  background-color: azure;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #a8a8a8;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #c0c0c0;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.topnav .search-container button:hover {
  background: #ccc;
}

section {
  display: flex;
  margin-top: 200px;
}

.search-section {
  width: 1000px;
  text-align: center;
  margin: auto;
}

.search-section input[type=text] {
  padding: 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #ddd;
  box-shadow: 0px 0px 10px #a8a8a8;
  width: 80%;
}

.search-section button {
  padding: 10px 10px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 0px 10px #a8a8a8;
}

.search-section button:hover {
  background: #ccc;
}

.bookButton {
  position: absolute;
  bottom: 10px;
  right: 25px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #a8a8a8;
}

.bookButton:hover {
  background-color: #45a049;
}

.bookingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-items: flex-start;
  padding-top: 50px;
}

.bookingContainer form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #a8a8a8;
  width: 400px;
  text-align: left;
}

.bookingContainer form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.bookingContainer form label {
  display: block;
  margin-top: 10px;
}

.bookingContainer form input[type="text"],
.bookingContainer form input[type="email"],
.bookingContainer form input[type="tel"],
.bookingContainer form input[type="date"],
.bookingContainer form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.bookingContainer form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bookingContainer form input[type="submit"]:hover {
  background-color: #45a049;
}

.recRoomHeader {
  text-align: center;
}

.aboutusSection {
  /* background-color: red; */
  /* width: 50%; */
}

.aboutusDiv {
  background-color: blue;
  /*this is just blue so i can see whats going on*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  align-items: flex-start;
  padding-top: 100px;
  text-align: center;
  margin: auto;
}